{% extends "base.html.twig" %}

{% block title %}{{ title}} {% endblock %}

{% block body %}
<div class="container">
    <div class="row  ">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 class="text-center">{{title}} </h1>
            <hr>
            
            <div class="list-group text-center">
                <small class="text-muted mx-auto">* cliquer pour accéder à la description</small>
                {% for mission in missions %}
                <a href=""class="lead list-group-item list-group-item-action"data-toggle="collapse" data-target="#item{{mission.id}}">
                    {{mission.titre}}
                </a>
                <div id="item{{mission.id}}" class="collapse  px-5">
                    <div class="py-5">
                        <strong>
                            <p>{{mission.description|raw}} </p>
                        </strong>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <hr>
        </div>
    </div>
</div>
{% endblock %}
